<div ng-controller="ordersCtrl">
	
	<table class="table table-striped table-bordered">
		<tr>
			<th>Nome</th>
			<th>Cidade</th>
			<th>Valor</th>
			<th></th>
		</tr>
		<tr ng-repeat="order in orders">
			<td>{{order.name}}</td>
			<td>{{order.city}}</td>
			<td>{{calcTotal(order) | currency}}</td>
			<td>
				<button ng-click="selectOrder(order)" class="btn btn-xs btn-primary">Detalhes</button>
			</td>
		</tr>
	</table>

	<div ng-show="selectedOrder">
		<h3>Detalhes do pedido</h3>

		<table class="table table-striped table-bordered">
			<tr>
				<th>Nome</th>
				<th>Contagem</th>
				<th>Preço</th>
			</tr>
			<tr ng-repeat="item in selectedOrder.products">
				<td>{{item.name}}</td>
				<td>{{item.count}}</td>
				<td>{{item.price | currency}}</td>
			</tr>
		</table>
	</div>

</div>